<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar color="base">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content class="menu" color="base">
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" color="base">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" color="base">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
                <ion-item>
                    <ion-button (click)="logout()">
                        <ion-icon slot="icon-only" name="key"></ion-icon>
                        logout
                    </ion-button>
                </ion-item>
            </ion-content>

        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>

    </ion-split-pane>
</ion-app>