<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            List
        </ion-title>
    </ion-toolbar>
</ion-header>
<!--
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
 
</ion-content> -->
<ion-content>
    <div id='collection-component-99b75b8b629'>vvvvvvv</div>
    <script type="text/javascript">
        /*<![CDATA[*/

        (function() {
            var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
            if (window.ShopifyBuy) {
                if (window.ShopifyBuy.UI) {
                    ShopifyBuyInit();
                } else {
                    loadScript();
                }
            } else {
                loadScript();
            }

            function loadScript() {
                var script = document.createElement('script');
                script.async = true;
                script.src = scriptURL;
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
                script.onload = ShopifyBuyInit;
            }

            function ShopifyBuyInit() {
                var client = ShopifyBuy.buildClient({
                    domain: 'nwe-shopy.myshopify.com',
                    storefrontAccessToken: 'ffede53313052357949e327495fb2fec',
                });

                ShopifyBuy.UI.onReady(client).then(function(ui) {
                    ui.createComponent('collection', {
                        id: 97101774910,
                        node: document.getElementById('collection-component-99b75b8b629'),
                        moneyFormat: 'Dhs.%20%7B%7Bamount%7D%7D',
                        options: {
                            "product": {
                                "variantId": "all",
                                "contents": {
                                    "imgWithCarousel": false,
                                    "variantTitle": false,
                                    "description": false,
                                    "buttonWithQuantity": false,
                                    "quantity": false
                                },
                                "styles": {
                                    "product": {
                                        "@media (min-width: 601px)": {
                                            "max-width": "calc(25% - 20px)",
                                            "margin-left": "20px",
                                            "margin-bottom": "50px"
                                        },
                                        "imgWrapper": {
                                            "position": "relative",
                                            "height": "0",
                                            "padding-top": "calc(75% + 15px)"
                                        },
                                        "img": {
                                            "height": "calc(100% - 15px)",
                                            "position": "absolute",
                                            "left": "0",
                                            "right": "0",
                                            "top": "0"
                                        }
                                    }
                                }
                            },
                            "cart": {
                                "contents": {
                                    "button": true
                                },
                                "styles": {
                                    "footer": {
                                        "background-color": "#ffffff"
                                    }
                                }
                            },
                            "modalProduct": {
                                "contents": {
                                    "img": false,
                                    "imgWithCarousel": true,
                                    "variantTitle": false,
                                    "buttonWithQuantity": true,
                                    "button": false,
                                    "quantity": false
                                },
                                "styles": {
                                    "product": {
                                        "@media (min-width: 601px)": {
                                            "max-width": "100%",
                                            "margin-left": "0px",
                                            "margin-bottom": "0px"
                                        }
                                    }
                                }
                            },
                            "productSet": {
                                "styles": {
                                    "products": {
                                        "@media (min-width: 601px)": {
                                            "margin-left": "-20px"
                                        }
                                    }
                                }
                            }
                        }
                    });
                });
            }
        })();
        /*]]>*/
    </script>
</ion-content>