// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.welcome-card .Shop_image ion-img {
    max-height: -webkit-fill-available;
    overflow: hidden;
}

ion-menu {
    background: rgba(39, 39, 39, 0.363);
}

ion-split-pane {
    background: rgba(19, 17, 17, 0.918);
}

.menu {
    background: rgba(19, 17, 17, 0.918);
}

.alert-sub-title.sc-ion-alert-md,
.alert-title.sc-ion-alert-md {
    color: var(--ion-text-color, #000);
    font-size: 12px;
}

.alert-sub-title.sc-ion-alert-md {
    font-size: 14px;
}

.alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
    padding-top: 0;
    color: tomato;
    font-size: 13px;
}

.item-native {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
    padding-inline-start: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
    -webkit-padding-end: var(--padding-end);
    padding-inline-end: var(--padding-end);
    background: #313743;
}